.board {
    display: grid;
    grid-template-rows: 500px repeat(21, ifr);
    grid-template-columns: 500px repeat(21, ifr);
    grid-gap: 5%;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 500px;
    /* background-color: black; */
    background: rgba(0,0,0,0.1);
  border: 1px white solid;
}